.form-container {
  margin: 100px auto;
  width: 1000px;
  position: relative;
  border-radius: 10px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}

.form h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;

  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

@media only screen and (max-width: 736px) and (min-width: 420px) {
  .form-container {
    width: 100%;
  }
}
